extends ./main.jade


block content
  script(type="text/x-handlebars")
    nav.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand {{#link-to 'index'}}DataBait{{/link-to}}
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li {{#link-to 'projects'}}Projects{{/link-to}}
            li {{#link-to 'about'}}About{{/link-to}}
    .jumbotron {{outlet}}
  script#projects(type="text/x-handlebars") {{> project-slider}}
  script#about(type="text/x-handlebars")
    h2 DataBait is a 
    p WebDev Company founded by William Guss, Phillip Kuznetsov, and Patrick Chen
    p Send inquires to requests@databa.itkk
  script#project-slider(type="text/x-handlebars")
    #myCarousel.carousel.slide
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      // Carousel items
      .carousel-inner
        .item
          img(src="/styles/images/tuna.jpg", alt='') 
          .carousel-caption 
            a(href="http://tunadbo.appspot.com")
              h2 Tuna
        .active.item
          img(src="/styles/images/velocity.png", alt='') 
          .carousel-caption 
            h2 Cocaine laced in marijuana
        .item
          img(src="http://cdn.pigeonsandplanes.com/wp-content/uploads/2014/03/mf-doom_jpg_630x420_q85.jpg", alt='')
          .carousel-caption 
            h2 Benzie box
      // Carousel nav
      a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
      a.carousel-control.right(href='#myCarousel', data-slide='next') ›
  script#index(type="text/x-handlebars")
    h1 DataBait LLC 
    <br/ > {{> project-slider}}
 