extends ./main.jade


block content
  script(type="text/x-handlebars")
    .row
      .large-12.columns
        h1 Data Bait LLC
        nav.top-bar(data-topbar='data-topbar', role='navigation')
          ul.title-area
            li.name
              h1{{#link-to 'index'}}Home{{/link-to}}
          section.top-bar-section
            ul.right  
              li {{#link-to 'about'}}About{{/link-to}}
    .row {{outlet}}
  script#about(type="text/x-handlebars")
    .conveyor
      div 
        img(src ="http://www.lettercult.com/alphabattleA/angie_letter_a.jpg")
      div 
        img(src ="http://agency26.com/best20121.png")
  script#index(type="text/x-handlebars") 
 