html
	head
		title My Site - #{title}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		block scripts
			link(rel="stylesheet" href="styles/foundation/css/foundation.css")
			link(src="styles/foundation/js/vendor/modernizr.js")
			link(rel="stylesheet" href="styles/emberjs/css/normalize.css")
			link(rel='stylesheet', type='text/css', href='styles/slick/slick/slick.css')
			link(rel="stylesheet" href="styles/emberjs/css/style.css")
			link(rel="stylesheet" href="styles/styles.css")
	body
		block content 

		block foot
			
		block js
			script(src="styles/foundation/js/vendor/jquery.js")
			script(src="styles/foundation/js/foundation.min.js")
			script(src="styles/emberjs/js/libs/handlebars-v1.3.0.js")
			script(src="styles/emberjs/js/libs/ember-1.8.1.js")
			script $(document).foundation();
			script(src="styles/slick/slick/slick.min.js")
			script(src="styles/client.js")
			
