/*turns out this is firefox specific, however it's good organization and easy to copy/paste. 
Actually implemented through SASS I believe.*/
:root {
	var-primary: 29516D;
	var-secondary:708EA4;
	var-tertiary: 486D88;
}
body{
	background-color: 29516D;
}
h1{
	text-shadow: 1px 1px 1px #54748A;
}
.jumbotron{
	background-color:708EA4;
	padding-left:50px;
	padding-right:50px;
	margin-left:auto;
	margin-right:auto;
	color: EDFFED;
	box-shadow: 1px 1px 5px 54748A;

}
.resize img{
	width:100%;
	
	margin-left: auto;
	margin-right: auto;
}
/*
.resize{
	width:auto;
	height-max:500px;
	overflow:hidden;
	margin-left: auto;
	margin-right: auto;
}*/
nav {
	background-color: 486D88;
}
.carousel .item{
	postiion: relative;
	height:500px;
	max-height:500px;
	overflow:hidden;
	width:100%;	
}
.carousel-caption a:link, a:hover{
	color:white;
	text-decoration:none;
}
.carousel-caption a:hover{
	color: #5555DD;
}
/*caption control*/
.carousel-caption{
	position:absolute;
	height:25%;
	margin-left: auto;
	margin-right: auto;
	top:75%;
	opacity:0.1;
	right:0%;
	left:0%;
	font-weigth:bold;
}
.carousel-caption:hover{
	color: green;
	opacity:1.0;
}

/*Creates minimum width of page, stops at 900 px. Will need adjustment for mobile devices*/
.carousel-slide{
	max-width:1600px;
	min-idth: 900px;
	overflow:hidden;
}
.carousel-inner{
	background-color: 486D88;
	width: 1600px;
	left: 50%;
	margin-left: -800px;
	padding-left: 0px;
	box-shadow: 1px 1px 5px #29516D;
}

/*Removes the gradient that is on the arrow navigation keys*/
.carousel-control.left, .carousel-control.right {
	margin-bottom: auto;
	margin-top: auto;
    background-image: none
}

/*attempting to center the chevrons on the carousel*/
.carousel-control {
	postiion: absolute;
	top:50%;
}

