body{
	background-color: 29516D;
}
.jumbotron{
	background-color:708EA4;
	padding-left:50px;
	padding-right:50px;
	margin-left:auto;
	margin-right:auto;
	color: EDFFED;

}
img.resize {
	height-min:500px;
	height-max:500px;
	width:auto;
	overflow:hidden;
	margin-left: auto;
	margin-right: auto;
}
.resize{
	width:auto;
	height-max:500px;
	overflow:hidden;
	margin-left: auto;
	margin-right: auto;
}
nav {
	background-color: 486D88;
}
.carousel-caption{
	opacity:0;
}
.carousel-caption:hover{
	opacity:1.0;
}
.carousel-slide{
	max-width:1600px;
	min-idth: 900px;
	overflow:hidden;
}
.carousel-inner{
	width: 1600px;
	left: 50%;
	margin-left: -800px;
}


